.social-share {
  .icon-weibo {
    &::before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 20px;
      background: url("../../static/images/weibo_0.png") no-repeat;
      background-size: 100% 100%;
    }

    &:hover {
      &::before {
        background-image: url("../../static/images/weibo_1.png");
      }
    }
  }
  .icon-wechat {
    &::before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 20px;
      background: url("../../static/images/weixin_0.png") no-repeat;
      background-size: 100% 100%;
    }

    &:hover {
      &::before {
        background-image: url("../../static/images/weixin_1.png");
      }
    }
  }

  a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    outline: none;
    padding: 0 20px;
    border-left: 1px solid #ccc;

    &:first-child {
      border-left: none;
    }
  }

  .social-share-icon {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .icon-wechat {
    .wechat-qrcode {
      display: none;
      border: 1px solid #eee;
      position: absolute;
      z-index: 10;
      margin: auto;
      top: -146px;
      left: -500%;
      right: -500%;
      width: 120px;
      height: 130px;
      color: #666;
      font-size: 16px;
      text-align: center;
      background-color: #fff;
      box-shadow: 0 2px 10px #ccc;

      &::after {
        content: '';
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -12px;
        width: 0;
        height: 0;
        border-width: 8px 6px 6px 6px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
      }

      .bottom {
        top: 40px;
        left: -84px;
        &:after {
          display: none;
        }
      }

      h4 {
        font-weight: normal;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
        background-color: #f3f3f3;
        margin: 0;
        padding: 0;
        color: #777;
      }

      .qrcode {
        width: 80px;
        margin: 10px auto;
      }
    }

    &:hover {
      .wechat-qrcode {
        display: block;
      }
    }
  }
}
